/****** Object:  Database [companyDB]    Script Date: 2020-03-02 5:45:20 PM ******/
CREATE DATABASE [companyDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[company]    Script Date: 2020-03-02 5:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_owner]    Script Date: 2020-03-02 5:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_owner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
 CONSTRAINT [PK_company_owner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CompanyID_OwnerID] UNIQUE NONCLUSTERED 
(
	[CompanyID] ASC,
	[OwnerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owner]    Script Date: 2020-03-02 5:45:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_owner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[company_owner]  WITH CHECK ADD  CONSTRAINT [FK_company_owner_company_owner] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[company] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_owner] CHECK CONSTRAINT [FK_company_owner_company_owner]
GO
ALTER TABLE [dbo].[company_owner]  WITH CHECK ADD  CONSTRAINT [FK_company_owner_owner] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[owner] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_owner] CHECK CONSTRAINT [FK_company_owner_owner]
GO
